.light_slider {
    display: flex;
    justify-content: center;
    position: relative;
}
.light_slider .sliders_window{
    overflow: hidden;
}
.light_slider .sliders_wrapper {
    display: flex;
    transition: 0.5s;
}
.light_slider .one_slide img {
    width: 100%;
}
.light_slider .nav_block {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -40px;
}
.light_slider .nav_block .btn {
    cursor: pointer;
}

.dotsDiv{
    display: flex;
    justify-content: center;
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
}

.active{
    background-color: black;
}